@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.healthOK {
    color: #AAFFAA;
}

.healthSuccess {
	color: green;
	animation: blink-animation 1.5s steps(10, start) infinite;
	-webkit-animation: blink-animation 1.5s steps(10, start) infinite;
}

.healthError {
	color: red;
	animation: blink-animation 1.5s steps(10, start) infinite;
	-webkit-animation: blink-animation 1.5s steps(10, start) infinite;
}

.healthUNKNOWN {
	color: grey;
}
ul.tree {
    list-style: none;
}

ul.tree > li {
    margin:10px;
}

ul.tree > li > span {
    cursor: pointer;
}
.warnMessage {
	color: #9F6000;
	font-size:15px;	
}

.errorMessage {
	color: #D8000C;
	font-size:15px;
}


